.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header h4 {
  font-weight: bold;
  margin: 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table {
  color: white;
}

.table td:first-child {
  font-weight: bold;
  width: 30%;
}

.table td:last-child {
  width: 70%;
}
